<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18106636102-eqg7060k7su13tmh7rmt66i15mk26htv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18106636102-eqg7060k7su13tmh7rmt66i15mk26htv</string>
	<key>API_KEY</key>
	<string>AIzaSyAlk4AaP2vnGPy55MXZzwa2jbjByfZiTW8</string>
	<key>GCM_SENDER_ID</key>
	<string>18106636102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UMD.ClouText</string>
	<key>PROJECT_ID</key>
	<string>cloutext-4c8da</string>
	<key>STORAGE_BUCKET</key>
	<string>cloutext-4c8da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18106636102:ios:a6aa0c143ecb84a4323747</string>
</dict>
</plist>